@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased transition-colors duration-300 bg-slate-50 text-slate-900;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}

/* Hide scrollbar*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
